
.BookLineList {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.BookLine {
    display: flex;
}

.category-line {
    display: flex;
    border-bottom: 1px solid black;
}

.book-line-info, .book-line-form {
    display: flex;
    flex: 1;
    align-items: center;
}

.title, .author {
    flex: 2;
    padding: 0px 5px;
}

.stock, .price {
    flex: 1;
    text-align: center;
}

.book-line-form * {
    flex: 1;
    text-align: center;
}
