.displayModeButton {
    color: red;
}

.InventoryPage {
    min-height: 100vh;
    background-color: #F5F5F5;
}

.inventory {
    padding: 50px;
}

.sort-buttons {
    text-align: right;
    padding-right: 10px;
    padding-bottom: 5px;
    background-color: #5c5c5c;
}

.HeaderBar {
    background-color: #373737;
}

.HeaderBar .links button {
    font-size: 16px;
}

.sort-buttons button {
    font-size: 14px;
}

.HeaderBar *, .sort-buttons * {
    color: #F5F5F5;
}

.HeaderBar button, .sort-buttons button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.InventoryPage button:hover {
    text-decoration: underline;
}

li.BookLine:hover {
    background-color: #e4e4e4;
}

.BookLine button {
    background-color: #373737;
    border: 1px solid #373737;
    border-radius: 5px;
    font-size: 14px;
    color: #e4e4e4;
    cursor: pointer;
    padding: 5px 15px;
}

.BookLine button:hover {
    background-color: #AB987A;
    border: 1px solid #AB987A;
    text-decoration: none;
}

.BookBlock button {
    border: 1px solid #373737;
    background-color: #373737;
    color: #f4f4f4;
    border-radius: 5px;
}

.add-book-link {
    color: #373737;
    display: inline-block;
    font-weight:bold;
    margin-top: 10px;
    text-decoration: none;
}

.add-book-link:hover {
    text-decoration: underline;
}


@media only screen and (max-width: 549px) {
    .inventory {
        padding: 20px;
    }
}