.newBookInput {
    display: flex;
    margin: 5px 0px;
}

.newBookInput input {
    margin-left: 5px;
}

.add-book-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.InventoryAddBookForm {
    margin: 0px 10px;
    background-color: #AB987A;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid lightgray;
    width: 280px;
}

.InventoryAddBookForm input {
    border-radius: 2px;
    border: 1px solid lightgray;
    padding: 6px;
    font-size: 16px;
}

.InventoryAddBookForm .form-error {
    display: inline-block;
    margin-left: 5px;
}