.landing-page-container {
    padding-top: 100px;
    min-height: 100vh;
    background-image: url('../images/library.jpg');
    background-size: cover;
}

.LandingPage {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 5px 0px 35px;
    color: lightgoldenrodyellow;
}

.app-title, .app-summary {
    text-align: center;
}

.app-title {
    font-size: 40px;
}
.app-summary {
    font-size: 16px;
}

.form-title {
    font-size: 25px;
}

.forms-container {
    display: flex;
    justify-content: center;
}

.login-container, .register-container {
    margin: 0px 100px;
}

.LandingPage input {
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 7px;
    margin-bottom: 5px;
    font-size: 16px;
}

.LandingPage button {
    padding: 5px 7px;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid lightgoldenrodyellow;
    background-color: lightgoldenrodyellow;
    color: tan;
    font-weight: bold;
    font-size: 16px;
}

.LandingPage button:hover {
    background-color: tan;
    border: 1px solid tan;
    color: lightgoldenrodyellow;
}

.guest-access {
    margin-top: 20px;
}

.guest-info {
    margin: 0;
}

@media only screen and (max-width: 799px) {
    .forms-container {
        flex-direction: column;
        align-items: center;
    }

    .LandingPage {
        padding: 20px 0px;
    }

    .form-title {
        text-align: center;
    }
  }